@import './assets/style/variables.scss';
@import './assets/style/mixins.scss';
@import './assets/style/functions.scss';
@import './assets/style/fonts.scss';


body{
    background: color(grey,light);
    font-size: 16px;
    overflow-x: hidden;
  
    .choose-test{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
  
      .tests{
        display: inline-block;
        width: 100%;
  
        .tests-ul{
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          width: 90%;
          margin: 0 auto;
          padding: 0;
  
          .tests-li{
            display: flex;
            width: 45%;
            text-align: center;
            padding: px-to-em(15);
            margin: px-to-em(10) 0;
            color: color(black,dark);
            border-radius: px-to-em(50);
            border: 1px solid color(blue,middle);
            height: px-to-em(50);
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            @include transform(skew(-45deg));
            @include box-sizing(content-box);
            @include transition(all 500ms);

            .nav-link{
              display: inline-block;
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
              z-index: 1;
            }
  
            .tests-li-inner{
              display: inline-block;
              width: 100%;
              text-align: center;
              font-size: px-to-em(20);
              @include transform(skew(45deg));
              @include transition(all 500ms);
              color: color(black,dark);
              font-family: font(nino), sans-serif;
            }
  
            .tests-li-hover-div{
              position: absolute;
              width: 100%;
              height: 100%;
              left: -100%;
              background: color(blue, middle);
              @include transition(all 500ms);
            }
  
            a{
              display: inline-block;
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
            }
  
            &:hover{
              @include box-shadow(10px 10px 10px grey);
              @include transform(skew(-45deg) translateY(-10px));
              .tests-li-inner{
                color: color(white,light);
              }
              .tests-li-hover-div{
                left: 0;
              }
            }
          }
        }
      }
    }
  }