$colors : (
  white : (
    light : #fff
  ),
  black : (
    dark : #333
  ),
  grey: (
    light: #f2f7fb
  ),
  blue: (
    light: #0000ff,
    middle: #3a5795
  ),
  green:(
    middle: #008000
  ),
  red:(
    middle: #FF0000
  ),
  yellow:(
    middle: #FFFF00
  )
);

$fonts: (
    nino : 'BPG Nino Mtavruli',
    glaho: 'BPG Glaho'
)